<div id="title">
    <span>MPartTranslator</span>
    <div id="menu">
        <button class="base-button menu_item left selected" id="translate-btn">Translate</button>
        <button class="base-button menu_item right" id="define-btn">Define Language</button>
    </div>
</div>
<div id="control-panel">
    <div id="translate-panel" class="control-panel_item">
        <div>
            <select id="from" class="base-select"></select>
            <select id="to" class="base-select"></select>
        </div>
        <div>
            <textarea id="translate-text_from" class="base-textarea" placeholder="Text..."></textarea>
            <div id="translate-text_to" class="base-textarea"></div>
        </div>
        <button id="send-translate" class="base-button accent">Translate</button>
    </div>
    <div id="define-panel" class="control-panel_item inactive"></div>
</div>
<div>
    <button class="base-button" id="logout-btn">Logout</button>
</div>