<div id="title">
    <span>Login</span>
</div>
<div id="login-form">
    <label for="api-key" class="base-label">Api Key: </label>
    <input type="text" class="base-input_text" id="api-key" placeholder="api key...">
    <button id="send-api-key" class="base-button">Send</button>
</div>